@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Costumers.Count > 5 ? "popular" : null;
}

<h2 class="className">@Model.Movie.Name </h2>


@if (Model.Costumers.Count == 0)
{
    <p>No one has rented this movie before</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Costumers)
        {
            <li>
                @customer.Name
            </li>
        }
    </ul>

}

